<div id="abogados">
</div>
<div class="mybox">
<h2>DAVID</h2>
  <h3>Macías León</h3>
  <h4>TELÉFONO: (52) 1 758 699 23</h4>
<h4>EMAIL: davidmacias@acmyp.com</h4>
<p class="gray">David Macías León es socio de Arias, Charua, Macías & Prum, S.C., se especializa en
Derecho Civil, Derecho Familiar, Derecho Mercantil y Derecho Inmobiliario. El
licenciado Macías ha representado activamente a empresas de México, Estados Unidos,
Canadá, América Latina y Europa.</p>
  <h5>EDUCACIÓN</h5>
<p>El licenciado Macías es egresado de la Universidad Iberoamericana en donde recibió su
título de licenciado en Derecho en 2015. Actualmente, el licenciado Macías se encuentra
cursado su maestría en “Derecho Privado” en la Universidad Anáhuac.</p>
  <h5>ASUNTOS REPRESENTATIVOS</h5>
<p>El licenciado Macías ha representado diferentes empresas nacionales y extranjeras en
  negociación de convenios comerciales, incumplimiento de contratos entre personas
  morales, fideicomisos, deudas fiduciarias, negociación de títulos de crédito, juicios
  ejecitos mercantiles relacionados con pagarés e incumplimientos contractuales, juicios
  ante autoridades locales y federales en relación a disputas comerciales y civiles, joint
  venture entre empresas, liquidación de empresas, obtención de permisos, asesoría legal y
  litigio en cuestiones inmobiliarias, incumplimiento por parte de aseguradoras, así como
  litigio en materia familiar.</p>
<p>Asimismo, también asiste a nuestros clientes proporcionando estrategias jurídicas en
  materia de sucesiones testamentarias, divorcios, patria potestad, guardia y custodia. Lo
  anterior, mediante convenios entre las partes, mediación y/o litigo ante autoridad
  jurisdiccional.</p>
<p>El licenciado Macías ha participado en diversos procedimientos en materia civil
  relacionado con asuntos de arrendamiento, prestamos, donaciones, compra-ventas,
  hipotecario, usufructo, inmobiliario, entre otros</p>
<h5>IDIOMAS</h5>
<p>El idioma del licenciado Arias es el español y es fluido en el habla y escritura del idioma
inglés.</p>
  <div style="padding-bottom:50px;"></div>
</div>
