//font

@font-face {
  font-family: 'MinionPro';
  src: url('/fonts/MinionPro-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionProBold';
  src: url('/fonts/MinionPro-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionProMedium';
  src: url('/fonts/MinionPro-Bold-MediumIt.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionProBoldIt';
  src: url('/fonts/MinionPro-BoldIt.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionProIt';
  src: url('/fonts/MinionPro-It.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionProSemiBold';
  src: url('/fonts/MinionPro-Semibold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionProSemiBoldIt';
  src: url('/fonts/MinionPro-SemiboldIt.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
	padding: 0;
	margin: 0;
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  font-size: 0;
}

.btn, .btn-large {
  background-color: #3B436A !important;
}
.btn:hover, .btn-large:hover {
  background-color: #22263e !important;
}

.loader {
  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
    z-index: 1;
    border: 12px solid #f3f3f3;
    border-top: 12px solid #3B436A;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
   -moz-animation:spin 2s linear infinite;
   -webkit-animation:spin 2s linear infinite;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
body{
  font-size: 14px !important;
}

p{
  font-family: 'MinionPro';
}

@media  screen and (max-width : 768px)  {
  .mybox{
    padding-left: 15% !important;
    padding-right: 15% !important;

    p{
      text-align: justify !important;
    }
  }

  #navline{
    display: none !important;
  }
}

@media  screen and (max-width : 500px)  {

  .mybox{
    padding-left: 10% !important;
    padding-right: 10% !important;
    h2{
      font-size: 20px !important;
    }
    p{
      font-size: 13px !important;
    }
  }
  #abogados{
    background-image: url(/images/abogados.jpg);
    height: 80% !important;
    .row{
      padding-top: 50px !important;
    }
    .nopadding{
      padding: 0 !important;
    }
    h2{
      font-size: 40px !important;
    }
    p{
      font-size: 18px !important;
    }
  }
}
