<div id="background">
  <div class="logo"><img id ="logohome" src="/logos/LOGO.png" alt="ACMyP" ></div>
  <div class="continuar">
    <p>CONTINUAR</p>
    <img class ="flechaDown" src="/icons/FlechaAbajo.png" alt="ACMyP" >
  </div>
</div>
<div id="about">
  <h5 style="padding-top:70px;"> Arias, Charua, Macías & Prum, es una firma de abogados cuyos miembros</h5>
  <h5>ofrecen un servicio legal de alta calidad, cuyo enfoque es brindar una</h5>
  <h5>atención personalizada y eficiente a cada uno de sus clientes.</h5>
  <div style="margin-top:70px;">
    <p>Nuestra Firma está compuesta por abogados con una larga reputación arraigada en la
    prestación de servicios legales de alto nivel, ofreciendo atención ética y profesional a
    nuestros clientes. Nuestra Firma se encuentra en constante capacitación para brindar a
    nuestros clientes la más alta asistencia legal, lo que permite que nuestros abogados se
    mantengan a la vanguardia en cada una de las áreas de prácticas que presta la Firma.</p>

    <p>La atención personalizada a nuestros clientes se brinda a través del conocimiento de
    diferentes industrias y sectores, previniendo contingencias y manteniendo una
    comunicación abierta que nos permite informar cambios legislativos que podrían afectar
    los intereses de nuestros clientes</p>
    <p>Combinamos tradición e innovación en la prestación de servicios profesionales, de la cual
    deriva nuestro principio fundamental de reconocimiento como asesores permanentes de
    nuestros clientes, lo que les permite obtener beneficios reales y directos.</p>
  </div>
</div>
