#home{
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px ;
  background-image: url(/images/blog.jpg);
  background-position: center;
}


.mybox{
  background-color: #fff;
  padding-left: 20%;
  padding-right: 20%;
  h2{
    padding-top: 50px;
    color:  #3B436A;
    font-size: 30px;
    font-family: 'MinionProBold';
    text-align: center;
    margin-bottom: 15px;
  }
  h3{
    font-size: 20px;
    font-family: 'MinionProBold';
    padding-top: 10px;
    color: #3e3e3e;
  }
  p{
    margin-top: 30px;
    color: #000;
    font-size: 20px;
    font-family: 'MinionPro';
    text-align: left;
    text-align: justify;
  }
  hr{
    color: #3B436A;
    border: 1px solid;
  }
  .btn, .btn-large {
    margin-top: 30px;
    background-color: #3B436A;
  }
  .btn:hover, .btn-large:hover {
    background-color: #22263e !important;
  }
  .date{
    margin-right: -150px;
    text-align: right;
    text-transform: UPPERCASE;
    font-size: 16px;
  }
}

#mobile{display: none;}

@media  screen and (max-width : 500px)  {
  #info{display: none;}
  #mobile{
    display: block;
    padding: 0 10%;
    position: absolute;
    top: 70px;
    h2{
      color: #2B436A;
      text-align: center;
      font-size: 20px;
      font-family: 'MinionProBold';
    }
    h3{
      font-size: 18px;
      font-family: 'MinionProBold';
      padding-top: 10px;
      color: #3e3e3e;
      margin-top: 20px;
    }
   .date{
      float: right;
    }
  }
}
