#footer{
  height: 80px;
  background-color: #3B436A;

  p{
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
  }
  img{
    width: 60px;
    position: absolute;
    right: 25px;
    padding-top: 10px;
  }
}
