<div class="valign-wrapper" id="navbar">
	<div class="navitem">
		<div id="userin" *ngIf="user" style="position: absolute; left: 10px; top: 10px;" >
			<button  style="font-size: 15px;padding-right: 15px;"class="waves-effect waves-light btn" (click)="logout()"><i style="font-size: 15px;padding-left: 15px;"class="material-icons left">exit_to_app</i>Logout</button>
			<button [routerLink]="['/escribir']" style="font-size: 15px;padding-right: 15px;"class="waves-effect waves-light btn" ><i style="font-size: 15px;padding-left: 15px;"class="material-icons left">border_color</i>Escribir</button>
			<span style="vertical-align:middle;">{{ user.emails[0].address }}</span>
		</div>
		<a [routerLink]="['/']" >
			<p id ="inicio">Inicio</p>
		</a>


		<a[routerLink]="['/nosotros']" >
			<p id="nosotros">Nosotros</p>
		</a>


		<div class="mydropdown">
			<a style="margin-right:30px;" >
				<p id="servicios">Servicios</p>   <img class ="flechaDown" src="/icons/FlechaAbajo.png" >
			</a>
		<div class="mydropdown-content">
			<div class="row">
				<div style="padding-top:20px; padding-left: 20px;"class=" col s6">
					<a[routerLink]="['/civil']" >
						<p>Derecho Civil, Familiar y Mercantil</p>
					</a>
					<a[routerLink]="['/penal']" >
						<p>Derecho Penal</p>
					</a>
					<a[routerLink]="['/propiedad']" >
						<p>Propiedad Intelectual y Entretenimiento</p>
					</a>
					<a[routerLink]="['/privacidad']" >
						<p>Privacidad y Datos Personales</p>
					</a>
				</div>
				<div style="padding-top:20px;" class="col s3">
					<a[routerLink]="['/telecomunicaciones']" >
						<p>Telecomunicaciones</p>
					</a>
					<a[routerLink]="['/farmaceutico']" >
						<p>Farmacéutico</p>
					</a>
					<a[routerLink]="['/tecnologia']" >
						<p>Tecnología</p>
					</a>
					<a[routerLink]="['/litigio']" >
						<p>Litigio y Consultoría</p>
					</a>
				</div>
				<div style="padding-top:20px;" class=" col s3">
					<a[routerLink]="['/corporativo']" >
						<p>Corporativo</p>
					</a>
					<a[routerLink]="['/administrativo']" >
						<p>Derecho Administrativo</p>
					</a>
					<a[routerLink]="['/comercio']" >
						<p>Comercio Internacional</p>
					</a>
					<a[routerLink]="['/fusion']" >
						<p>Fusiones y Adquisiciones</p>
					</a>
					<a style="margin:0 !important"[routerLink]="['/inmobiliario']" >
						<p>Derecho Inmobiliario</p>
					</a>

				</div>
			</div>

		</div>
	</div>

		<a [routerLink]="['/abogados']" >
			<p id="abogados">Abogados</p>
		</a>


		<a[routerLink]="['/blog']" >
			<p id="blog">Blog</p>
		</a>


		<a style="margin-right:30px;" [routerLink]="['/contacto']" >
			<p id="contacto">Contacto</p>
		</a>
	</div>
</div>

<nav id="mobile">
	 <div class="nav-wrapper">
		 <a [routerLink]="['/']" class="brand-logo">ACM&P</a>
		 <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		 <ul class="side-nav" id="mobile-demo">
			 <li><a  [routerLink]="['/']">Inicio</a></li>
			 <li><a class="dropdown-button" data-activates="menu_escrow_accounts" data-beloworigin="true" href="javascript:;" >Nosotros <img class ="arrowMob" src="/icons/FlechaAbajo.png" ></a></li>
			 	<ul id="menu_escrow_accounts" class="dropdown-content myul">
					<li>
						<a[routerLink]="['/civil']" >Derecho Civil, Familiar y Mercantil</a>
					</li>
					<li>
						<a[routerLink]="['/penal']" >Derecho Pena</a>
					</li>
					<li>
						<a[routerLink]="['/propiedad']" >Propiedad Intelectual y Entretenimiento</a>
					</li>
					<li>
						<a[routerLink]="['/privacidad']" >Privacidad y Datos Personales</a>
					</li>
					<li>
						<a[routerLink]="['/telecomunicaciones']" >Telecomunicaciones</a>
					</li>
					<li>
						<a[routerLink]="['/farmaceutico']" >Farmacéutico</a>
					</li>
					<li>
						<a[routerLink]="['/tecnologia']" >Tecnología</a>
					</li>
					<li>
						<a[routerLink]="['/litigio']" >Litigio y Consultoría</a>
					</li>
					<li>
						<a[routerLink]="['/corporativo']" >Corporativo</a>
					</li>
					<li>
						<a[routerLink]="['/administrativo']" >Derecho Administrativo</a>
					</li>
					<li>
						<a[routerLink]="['/comercio']" >Comercio Internacional</a>
					</li>
					<li>
						<a[routerLink]="['/fusion']" >Fusiones y Adquisiciones</a>
					</li>
					<li>
						<a[routerLink]="['/inmobiliario']" >Derecho Inmobiliario</a>
					</li>
				</ul>
			 <li><a  [routerLink]="['/abogados']">Abogados</a></li>
			 <li><a  [routerLink]="['/blog']">Blog</a></li>
			 <li><a  [routerLink]="['/contacto']">Contacto</a></li>
	 </div>
 </nav>
