<div class="valign-wrapper" id="navbar">
	<div class="navitem">
		<a [routerLink]="['/']" >
			<p id ="inicio">Inicio</p>
		</a>


		<a[routerLink]="['/nosotros']" >
			<p id="nosotros">Nosotros</p>
		</a>


		<div class="mydropdown">
			<a style="margin-right:30px;"[routerLink]="['/Servicios']" >
				<p id="servicios">Servicios</p>   <img class ="flechaDown" src="/icons/FlechaAbajo.png" >
			</a>
		<div class="mydropdown-content">
			<div class="row">
				<div style="padding-top:20px; padding-left: 20px;"class=" col s6">
					<a[routerLink]="['/civil']" >
						<p id="link">Derecho Civil, Familiar y Mercantil</p>
					</a>
					<a[routerLink]="['/penal']" >
						<p id="link">Derecho Penal</p>
					</a>
					<a[routerLink]="['/propiedad']" >
						<p id="link">Propiedad Intelectual y Entretenimiento</p>
					</a>
					<a[routerLink]="['/privacidad']" >
						<p id="link">Privacidad y Datos Personales</p>
					</a>
				</div>
				<div style="padding-top:20px;" class="col s3">
					<a[routerLink]="['/telecomunicaciones']" >
						<p id="link">Telecomunicaciones</p>
					</a>
					<a[routerLink]="['/farmaceutico']" >
						<p id="link">Farmacéutico</p>
					</a>
					<a[routerLink]="['/tecnologia']" >
						<p id="link">Tecnología</p>
					</a>
					<a[routerLink]="['/litigio']" >
						<p id="link">Litigio y Consultoría</p>
					</a>
				</div>
				<div style="padding-top:20px;" class=" col s3">
					<a[routerLink]="['/corporativo']" >
						<p id="link">Corporativo</p>
					</a>
					<a[routerLink]="['/administrativo']" >
						<p id="link">Derecho Administrativo</p>
					</a>
					<a[routerLink]="['/internacional']" >
						<p id="link">Comercio Internacional</p>
					</a>
					<a[routerLink]="['/fusiones']" >
						<p id="link">Fusiones y Adquisiciones</p>
					</a>
					<a style="margin:0 !important"[routerLink]="['/inmobiliario']" >
						<p id="link">Derecho Inmobiliario</p>
					</a>

				</div>
			</div>

		</div>
	</div>

		<a [routerLink]="['/abogados']" >
			<p id="abogados">Abogados</p>
		</a>


		<a[routerLink]="['/bolg']" >
			<p id="blog">Blog</p>
		</a>


		<a style="margin-right:30px;" [routerLink]="['/contacto']" >
			<p id="contacto">Contacto</p>
		</a>
	</div>

</div>
