<div class="valign-wrapper" id="navbar">
	<div class="navitem">
		<a [routerLink]="['/']" >
			<p id ="inicio">Inicio</p>
		</a>


		<a[routerLink]="['/Nosotros']" >
			<p id="nosotros">Nosotros</p>
		</a>


		<a[routerLink]="['/Servicios']" >
			<p id="servicios">Servicios</p>
		</a>


		<a [routerLink]="['/Abogados']" >
			<p id="abogados">Abogados</p>
		</a>


		<a[routerLink]="['/Bolg']" >
			<p id="blog">Blog</p>
		</a>


		<a style="margin-right:30px;" [routerLink]="['/Contacto']" >
			<p id="contacto">Contacto</p>
		</a>
	</div>

</div>
